<% if (title) { %>
    <h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<% if (typeof messages !== 'undefined' && typeof messages === 'function') { %>
    <%- messages() %>
<% } %>

<%- detail %>
